
.container {
  display: -webkit-flex;
  display: -ms-flex;

  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  margin: 2rem 0rem;

}

.main-nav-container{
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.block {
  flex: 1 1 auto;
  flex-basis: 5em;
  display: block;
}

.block-2 {
  flex: 2 1 auto;
  flex-basis: 5em;
  display: block;
}

.block-3 {
  flex: 3 1 auto;
  flex-basis: 5em;
  display: block;
}

.paragraph-block{
  margin: 2rem 3rem;
}

.main-nav-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1rem;
}

#section-index{
  align-items: center;
}

.block-learnAboutUs{
  align-self: center;
}

.main-nav-container{
  align-self: auto;
}


.block {
  flex-grow: 1;
  flex-basis: 5em;
  display: block;
}

/* section{
  padding: 5rem 4rem;
} */

/* product page main */

.catalogue-container{
  align-content: space-around;
  width:
}

.margin-none{
  margin: 0;
}

.pull-right{
  float: right;
}
