
.container {
  display: -webkit-flex;
  display: -ms-flex;

  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  margin: 2rem 0rem;

}

.block {
  flex: 1 1 auto;
  flex-basis: 5em;
  display: block;
}

.block-2 {
  flex: 2 1 auto;
  flex-basis: 5em;
  display: block;
}

.block-3 {
  flex: 3 1 auto;
  flex-basis: 5em;
  display: block;
}

.paragraph-block{
  margin: 2rem 3rem;
}

.margin-none{
  margin: 0;
}

.pull-right{
  float: right;
}

/* index and about us page //////////////////// */

.main-nav-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  right: 2rem;
  padding: 1.5rem;
}

#section-index{
  height: 87vh;
  width: auto;
  margin: auto 0rem;
  padding: 1rem 2rem 1.5rem 3rem;
}

.block-learnAboutUs{
  align-self: center;
}

.section-aboutus{
  width: 70%;
  margin: 0rem auto;
}

/* product page main ///////////////////////// */
.section-product-featured{
  align-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.product-details-container, .section-product-featured{
  padding: 3rem 1rem;
}

.catalogue-filter{
  width: 10rem;
  margin: auto;
}

.catalogue-container{
  align-items: flex-start;
  align-content: space-between;
}

.section-product-catalogue{
  align-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Product Details Page ////////////////////// */
.product-details-container{
  width: 70%;
  margin: 1rem auto;
}
