.section-header{
  margin: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.nav-main{
  margin: 0;
}

.nav-left{
  position: relative;
  left: 0;
  top: 0;
}

.nav-right{
  float: right;
  text-align: right;
}

.nav-center{
  margin: auto;
  text-align: center;
}

.nav-main a{
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1.3px;
  padding: 0.3rem 0.7rem;
  margin: 0rem 0.2rem;
  transition: 0.5s ease-out;
  color: black;
}

.nav-main a:hover, .nav-header a:focus{
  background-color: #e89686;
}

.nav-active{
  border: 2px solid #e89686;
}

#nav-home{
  font-size: 1.1rem;
  color: #e89686;
  font-weight: 900;
  letter-spacing: 2.5px;
}

#nav-home:hover{
  transition: none;
  background-color: #eeeeee;
  font-size: 1.1rem;
  color: #e89686;
  margin: auto;
  width: 50%;
}


/* references

https://www.w3schools.com/css/css_align.asp

 */
