.section-header{
  background-color: #222222;
  padding: 0.2rem 0;
}

.header-container{
  margin: 1rem auto 0.5rem auto;
}

.nav-main{
  margin: 0;
}

.nav-left{
  position: relative;
  left: 0;
  top: 0rem;
}

.nav-center{
  margin: 0 auto;
  position: relative;
}

.nav-center nav {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
}

.nav-center nav a{
  color: #c78b3c;
  padding-bottom: 0.6rem;
}

.nav-center nav a:hover{
  color: #fabe6f;
  transition: 0.2s;
}

.nav-main a{
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  padding: 0.3rem 0.7rem;
  margin: 0rem 0.4rem;
}

.nav-main a:hover, .nav-header a:focus{

}

.nav-active{
  color: #eeeeee!important;
  border-bottom: 4px solid #c78b3c;
}

.nav-home{
  /* font-size: 1.6rem;
  color: #c78b3c;
  font-weight: 800;
  letter-spacing: 2.5px; */
  width: auto;
  height: 2rem;
}

.nav-my-cart{
  height: 1.5rem;
  width: auto;
  vertical-align: bottom;
}

.nav-right{
  position: relative;
}

.nav-right a{
  color: #C2B59B;
  position: absolute;
  top: 0.1rem;
  right: 0;
}

/* references

https://www.w3schools.com/css/css_align.asp

 */
