body {
font-family: 'Source Sans Pro', Verdana, sans-serif;
}

h1 {
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 1px;
  font-style: oblique;
}

.main-nav-button a {
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: text-top;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.5s ease-out;
  color: black;
}

.main-nav-button a {
  border-bottom: 2px solid #e89686;
}

.main-nav-button a:hover, .nav-main-button a:focus {
  background-color: #e89686;
  border-bottom: 0px;
}
