
/* Header and body styling */
body {
font-family: 'Source Sans Pro', Verdana, sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  color: #a39491;
}

h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-style: oblique;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

p, li{
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: rgb(150, 150, 150);
}

/* index styling */
#section-index {
  background-image: url("../img/index_background1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 1rem;
  /* height: 47rem*/
  height: 100vh;
}

.main-nav-container{
  position: absolute;
  right: 2rem;
  padding: 1.5rem;
}

.block-learnAboutUs{
  position: absolute;
  bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

/* about us page styles //////////////////////////////////////////////////*/

.section-aboutus{

}
  /* image styling for about us section */
.aboutUs-imgs{
  width: 90%;
  height: 100%;
  margin: 1rem 0rem;
}

/* BUTTON STYLING ////////////////////////////////////////////////////// */
.block-learnAboutUs .main-nav-button a{
  color: black;
}

.main-nav-button {
  text-align: left;
  margin: 3rem 1rem 1rem 1rem;
}

.main-nav-button a {
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: text-top;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.5s ease-out;
  color: white;
}

.nav-button-black a{
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: text-top;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.5s ease-out;
  color: black;
}

.main-nav-button a, .nav-button-black a {
  border-bottom: 2px solid #e89686;
}

.main-nav-button a:hover, .nav-main-button a:focus, .nav-button-black a:hover, .nav-button-black a:focus {
  background-color: #e89686;
  border-bottom: 0px;
}

/* footer styling ////////////////////////////////////////// */
.section-footer{

}
