/* styling for the product feature page and product catalogue sections ////////////////////// */

.section-product-featured .block, .section-product-catalogue .block, .product-details-container .block{
  align-content: center;
  margin:0.5rem;
}

.section-product-featured{
  background-image: url("../img/productPage_background1.jpeg");
  background-blend-mode: lighten;
  background-clip: border-box;
  background-size: cover;
  color: white;
}

.feature-heading{
  width: 10rem;
}

.feature-heading p, .feature-heading a, .feature-coffee-block a, .feature-coffee-block p{
  color: white;
}

#header-product-catalogue{
  width: 100%;
}

/* .customize-button{
  font-size: 1.1rem;
  padding: 1rem 0rem;
  margin: 2rem 0rem;
} */

.feature-coffee-block{
  height: 30rem;
  width: 10rem;
  display: inline-block;
}

.catalogue-coffee-block{
  padding: 1rem;
}

/* fix thisssss//////////////////////////////////////////  */
.catalogue-coffee-block{
  height: auto;
  width: 13rem;
  display: inline-block;
  /* position: relative; */
}

.product-image-container{
  height: 20rem;
  width: 13rem;
}

.feature-coffee-block img, .product-image-container img{
  height: inherit;
  width: inherit;
  object-position:top;
  object-fit: cover;
}

/* hover on image from: https://www.w3schools.com/howto/howto_css_image_overlay.asp */

.product-image-container:hover img {
  opacity: 0.3;
}

.product-image-container:hover .text-overlay-product {
  opacity: 1;
}

.text-overlay-product a {
  color: rgb(100, 100, 100);
}

.text-overlay-product{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* product page detail styling ///////////////////////////////////////// */

.detail-product-title{
    font-size: 2rem;
    font-weight: bold;
}

.product-coffee-caption p{
    margin: 2rem 0rem;
}
