

.container{
  display: -webkit-flex;
  display: -ms-flex;

  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  margin: 0.5rem 0.5rem;
  padding:1rem 1rem;
  /* border: 1px solid #e89686; */
}

.container .block{
  box-sizing: border-box;
    flex: 1 1 auto;
  margin: 2rem 1rem;
}

.topContainer{
  margin: 1rem;
}

.block{
    /* border: 1px solid #edd7c8; */
    margin: 0.3rem;
}

@media (min-width: 60em) {
  #headerImage{
    background-size: 100% auto;
  }
  .topContainer{
    margin: 3rem 5rem;
    justify-content: space-around;
  }

  .shortBlock{
    box-sizing: border-box;
    order: 1;
  }

  .bodyblock{
    box-sizing: border-box;
    flex: 1 1 10rem;
  }
}

.nav-main{
  justify-content: flex-end;
}

#nav-currentPage{
    flex: 1 1 auto;
}

.listingContainer{
  align-content: space-between;
}
