.section-header{
  overflow: hidden;
  position: sticky;
  top: 0;
}

#titleDiv{
  background-image: url("../../img/index_background2.jpeg");
  background-size: cover;
  height: 30vh;
  padding: 2rem;
}

.p-descriptionHead{
  color: white;
}

.styleguide-section{
  width: 80%;
  margin: 2rem auto;
}

.element-block{
  min-width: 60%;
  margin: 1rem 2rem 1rem 1rem;
}

.code-block{
  min-width: 20rem;
  margin: 1rem auto;
}

.class-cssSelector{
  colour:;
}

.id-cssSelector{
  colour:;
}

/* for code style */
code{
  background-color: rgb(230, 230, 230);
  padding: 0.2rem;
}

/* text  links */
.a-textLink{
  color: #e89686;
  font-weight: 700;
  text-decoration: none;
}

  .a-textLink:hover, .a-textLink:focus{
    text-decoration: underline;
  }

/* button stuff */
  .nav-button{
    display: inline-block;
    border-bottom: 2px solid #d2e3ed;
  }

  .nav-button:hover, .nav-button:focus{
    background-color: #dcf7df;
    border-bottom: 2px solid #ffffff;
  }

  #resetInput{
    display: inline-block;
    border-bottom: 2px solid #a39491!important;
    border:none;
    -webkit-appearance:none;
    box-shadow: none;
  }

    #resetInput:hover, #resetInput:focus{
      background-color: #a39491;
      border-bottom: 2px solid #ffffff;
      color: white;
    }

  #submitInput{
    display: inline-block;
    border-bottom: 2px solid #dcf7df!important;
    border: none;
    -webkit-appearance:none;
    box-shadow: none;
  }

    #submitInput:hover, #submitInput:focus{
      background-color: #dcf7df;
      border-bottom: 2px solid #ffffff;
    }

/* form stuff */

  label, input, textarea{
    display: block;
    width: 30rem;
    vertical-align: text-top;
    margin: 1rem 1rem;
  }

  label{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
  }

  textarea{
    height: 4rem;
  }

  form{
    background-clip: border-box;
    padding: 0.3rem 0rem;
    background-color: #d2e3ed;
  }

  /* product listing styling */
  .imgListingSample{
    width: 10rem;
  }

  .listingCaption{
    display:inline-block;
    margin-left: 0.5rem;
  }

  .listingContainer{
    background-color: #e3e3e5;
    display: inline-block;
  }

  .listingButton{
    display: block;
    border-bottom: 2px solid #5a5a5a;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    vertical-align: text-top;
    padding: 0.3rem 0.7rem;
    margin: 0.5rem 1rem;
    background-color: transparent;
    transition: 0.5s ease-out;
    color: black;
  }

  .listingButton:hover, .listingButton:focus{
    background-color: #5a5a5a;
    color: white;
    border-bottom: 2px solid #ffffff;
  }

  /* gid structure */
  .gridContainer{
    background-color: #5a5a5a;
  }
  .gridBlock{
    background-color: #edd7c8;
    padding: 1rem;
    text-align: center;
    margin: inherit 0rem;
  }

  /* colour swatches */
  .colourBlock{
    width: 15%;
    padding: 1rem;
  }
  .grey{
    background-color: #e3e3e5;
  }

  .lightBlue{
    background-color: #d2e3ed;
  }

  .darkGrey{
    background-color: #a39491;
  }

  .superDarkGrey{
    background-color: #5a5a5a;
  }

  .mauve{
    background-color: #e89686;
  }

  .beige{
    background-color: #edd7c8;
  }
