.section-header{
  overflow: hidden;
  position: sticky;
  top: 0;
}

#titleDiv{
  background-image: url("../../img/index_background2.jpeg");
  background-size: cover;
  height: 30vh;
  padding: 2rem;
}

.p-descriptionHead{
  color: white;
}

.styleguide-section{
  width: 80%;
  margin: 2rem auto;
}

.element-block{
  min-width: 60%;
  margin: 1rem 2rem 1rem 1rem;
}

.code-block{
  min-width: 20rem;
  margin: 1rem auto;
}

.class-cssSelector{
  font-colour: rgb(239, 122, 133);
}

.id-cssSelector{
  colour: blue;
}

/* gid structure */
.gridContainer{
  background-color: #5a5a5a;
}
.gridBlock{
  background-color: #edd7c8;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem 0.5rem;
}

/* colour swatches */
.colourBlock{
  width: 15%;
  padding: 1rem;
}
.grey{
  background-color: #222222;
  color: white;
}

.lightBlue{
  background-color: #d2e3ed;
}

.darkGrey{
  background-color: #a39491;
}

.lightbeige{
  background-color: #fabe6f;
}

.smokyorange{
  background-color: #c78b3c;
}

.camel{
  background-color: #c2b59b;
}

#other-brand-elements{
  margin-bottom: 5rem;
}
