/* workflows page */
body{
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  /* background-color: #5a5a5a; */
}

#headerImage{
  background-image: url("../imgs/caioResende_coffee.jpeg");
  background-clip: border-box;
  background-position:center;
  background-repeat: no-repeat;
  padding: 0rem 0rem 10rem 0rem;
}

/* nav stuff */
.nav-main, #nav-currentPage{
  background-position: bottom;
  background-size: 1em auto;
  background-color: rgba(227,227,229,0.9);

  border-radius: 3px;
  margin-bottom: 2rem;
}

.nav-main li{
  display: inline-block;
  text-decoration: none;
}

.nav-main a, #nav-currentPage a, .nav-button, #resetInput, #submitInput{
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  vertical-align: text-top;
  padding: 0.3rem 0.7rem;
  margin: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.5s ease-out;
  color: black;
}

.nav-main a, #nav-currentPage a{
    border-bottom: 2px solid #e89686;
}

.nav-main a:hover, .nav-main a:focus,  #nav-currentPage a:hover,  #nav-currentPage a:focus{
  background-color: #e89686;
  border-bottom: 0px;
}


/* Header and body styling */

h1 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #e89686;
}

.userWorkflows{
  width: 100%;
  height: 50rem;
}

#titleDiv{
  display: block;
  margin: 1rem 3rem;
}
